<div>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Difficulty:</strong>
    <%= game.difficulty %>
  </p>

  <p>
    <strong>Maximum letters:</strong>
    <%= game.maximum_length %>
  </p> 

  <p>
    <strong>Minimum letters:</strong>
    <%= game.minimum_length %>
  </p> 

</div>